TidsrapporteringClient/TidsrapporteringClient/Service References/TidsrapportService/TidsrapportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TidsrapporteringsSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TidsrapporteringsSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tidsrad">
    <xs:sequence>
      <xs:element minOccurs="0" name="activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adWage" type="xs:boolean" />
      <xs:element minOccurs="0" name="benamning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contract" type="xs:int" />
      <xs:element minOccurs="0" name="custNo" type="xs:int" />
      <xs:element minOccurs="0" name="debit" type="xs:boolean" />
      <xs:element minOccurs="0" name="defaultActivity" type="xs:boolean" />
      <xs:element minOccurs="0" name="faktureradTime" type="xs:float" />
      <xs:element minOccurs="0" name="frDt" type="xs:int" />
      <xs:element minOccurs="0" name="frTm" type="xs:int" />
      <xs:element minOccurs="0" name="internText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ordNr" type="xs:int" />
      <xs:element minOccurs="0" name="prodNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="toDt" type="xs:int" />
      <xs:element minOccurs="0" name="toTm" type="xs:int" />
      <xs:element minOccurs="0" name="utlagg" type="xs:boolean" />
      <xs:element minOccurs="0" name="workedTime" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tidsrad" nillable="true" type="tns:Tidsrad" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>