TidsrapporteringClient/TidsrapporteringClient/Service References/TidsrapportService/TidsrapporteringService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="TidsrapporteringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4990/TidsrapporteringIISHost/TidsrapportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4990/TidsrapporteringIISHost/TidsrapportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4990/TidsrapporteringIISHost/TidsrapportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TidsrapporteringsSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITidsrapporteringService_GetLatestTidrad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestTidrad" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetLatestTidrad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestTidradResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ITidsrapporteringService">
    <wsdl:operation name="GetLatestTidrad">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetLatestTidrad" message="tns:ITidsrapporteringService_GetLatestTidrad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetLatestTidradResponse" message="tns:ITidsrapporteringService_GetLatestTidrad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetUser" message="tns:ITidsrapporteringService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetUserResponse" message="tns:ITidsrapporteringService_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITidsrapporteringService" type="tns:ITidsrapporteringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestTidrad">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetLatestTidrad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TidsrapporteringService">
    <wsdl:port name="BasicHttpBinding_ITidsrapporteringService" binding="tns:BasicHttpBinding_ITidsrapporteringService">
      <soap:address location="http://localhost:4990/TidsrapporteringIISHost/TidsrapportService.svc/TidsrapporteringService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>