TidsrapporteringASPClient/TidsrapporteringASPClient/Service References/trService/TidsrapporteringService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="TidsrapporteringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3716/TidsrapporteringIISHost/TidsrapportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3716/TidsrapporteringIISHost/TidsrapportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3716/TidsrapporteringIISHost/TidsrapportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TidsrapporteringsSystem" />
      <xsd:import schemaLocation="http://localhost:3716/TidsrapporteringIISHost/TidsrapportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITidsrapporteringService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_InsertNewTimeLine_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewTimeLine" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_InsertNewTimeLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewTimeLineResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetLastInsertedDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastInsertedDay" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetLastInsertedDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastInsertedDayResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetLastTimeLineInsertedForSpecificDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTimeLineInsertedForSpecificDate" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetLastTimeLineInsertedForSpecificDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTimeLineInsertedForSpecificDateResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllInsertedTimeLineOnOneDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInsertedTimeLineOnOneDay" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllInsertedTimeLineOnOneDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInsertedTimeLineOnOneDayResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetTimeLineByAgrNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineByAgrNo" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetTimeLineByAgrNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeLineByAgrNoResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllInsertedDaysOfAMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInsertedDaysOfAMonth" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllInsertedDaysOfAMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInsertedDaysOfAMonthResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllProductsByActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsByActivity" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllProductsByActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsByActivityResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllCust_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCust" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllCust_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetCustNr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustNr" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetCustNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustNrResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllOrdNr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdNr" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllOrdNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdNrResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContract" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllServiceByOrderNr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServiceByOrderNr" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllServiceByOrderNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServiceByOrderNrResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetActivitiesByDebit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivitiesByDebit" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetActivitiesByDebit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivitiesByDebitResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjects" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetAllProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetMonthFlexForLogOnUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonthFlexForLogOnUser" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetMonthFlexForLogOnUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonthFlexForLogOnUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetTotalFlexForLogOnUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalFlexForLogOnUser" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetTotalFlexForLogOnUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalFlexForLogOnUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetHolidayForLogOnUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidayForLogOnUser" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_GetHolidayForLogOnUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidayForLogOnUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_UpdateTimeLine_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeLine" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_UpdateTimeLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeLineResponse" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_DeleteTimeLine_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeLine" />
  </wsdl:message>
  <wsdl:message name="ITidsrapporteringService_DeleteTimeLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeLineResponse" />
  </wsdl:message>
  <wsdl:portType name="ITidsrapporteringService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetUser" message="tns:ITidsrapporteringService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetUserResponse" message="tns:ITidsrapporteringService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/LogIn" message="tns:ITidsrapporteringService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/LogInResponse" message="tns:ITidsrapporteringService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewTimeLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/InsertNewTimeLine" message="tns:ITidsrapporteringService_InsertNewTimeLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/InsertNewTimeLineResponse" message="tns:ITidsrapporteringService_InsertNewTimeLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastInsertedDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetLastInsertedDay" message="tns:ITidsrapporteringService_GetLastInsertedDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetLastInsertedDayResponse" message="tns:ITidsrapporteringService_GetLastInsertedDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastTimeLineInsertedForSpecificDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetLastTimeLineInsertedForSpecificDate" message="tns:ITidsrapporteringService_GetLastTimeLineInsertedForSpecificDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetLastTimeLineInsertedForSpecificDateResponse" message="tns:ITidsrapporteringService_GetLastTimeLineInsertedForSpecificDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInsertedTimeLineOnOneDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllInsertedTimeLineOnOneDay" message="tns:ITidsrapporteringService_GetAllInsertedTimeLineOnOneDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllInsertedTimeLineOnOneDayResponse" message="tns:ITidsrapporteringService_GetAllInsertedTimeLineOnOneDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineByAgrNo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetTimeLineByAgrNo" message="tns:ITidsrapporteringService_GetTimeLineByAgrNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetTimeLineByAgrNoResponse" message="tns:ITidsrapporteringService_GetTimeLineByAgrNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInsertedDaysOfAMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllInsertedDaysOfAMonth" message="tns:ITidsrapporteringService_GetAllInsertedDaysOfAMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllInsertedDaysOfAMonthResponse" message="tns:ITidsrapporteringService_GetAllInsertedDaysOfAMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllProducts" message="tns:ITidsrapporteringService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllProductsResponse" message="tns:ITidsrapporteringService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsByActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllProductsByActivity" message="tns:ITidsrapporteringService_GetAllProductsByActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllProductsByActivityResponse" message="tns:ITidsrapporteringService_GetAllProductsByActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCust">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllCust" message="tns:ITidsrapporteringService_GetAllCust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllCustResponse" message="tns:ITidsrapporteringService_GetAllCust_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustNr">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetCustNr" message="tns:ITidsrapporteringService_GetCustNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetCustNrResponse" message="tns:ITidsrapporteringService_GetCustNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdNr">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllOrdNr" message="tns:ITidsrapporteringService_GetAllOrdNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllOrdNrResponse" message="tns:ITidsrapporteringService_GetAllOrdNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetContract" message="tns:ITidsrapporteringService_GetContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetContractResponse" message="tns:ITidsrapporteringService_GetContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceByOrderNr">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllServiceByOrderNr" message="tns:ITidsrapporteringService_GetAllServiceByOrderNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllServiceByOrderNrResponse" message="tns:ITidsrapporteringService_GetAllServiceByOrderNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesByDebit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetActivitiesByDebit" message="tns:ITidsrapporteringService_GetActivitiesByDebit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetActivitiesByDebitResponse" message="tns:ITidsrapporteringService_GetActivitiesByDebit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllProjects" message="tns:ITidsrapporteringService_GetAllProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetAllProjectsResponse" message="tns:ITidsrapporteringService_GetAllProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMonthFlexForLogOnUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetMonthFlexForLogOnUser" message="tns:ITidsrapporteringService_GetMonthFlexForLogOnUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetMonthFlexForLogOnUserResponse" message="tns:ITidsrapporteringService_GetMonthFlexForLogOnUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalFlexForLogOnUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetTotalFlexForLogOnUser" message="tns:ITidsrapporteringService_GetTotalFlexForLogOnUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetTotalFlexForLogOnUserResponse" message="tns:ITidsrapporteringService_GetTotalFlexForLogOnUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHolidayForLogOnUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetHolidayForLogOnUser" message="tns:ITidsrapporteringService_GetHolidayForLogOnUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/GetHolidayForLogOnUserResponse" message="tns:ITidsrapporteringService_GetHolidayForLogOnUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/UpdateTimeLine" message="tns:ITidsrapporteringService_UpdateTimeLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/UpdateTimeLineResponse" message="tns:ITidsrapporteringService_UpdateTimeLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ITidsrapporteringService/DeleteTimeLine" message="tns:ITidsrapporteringService_DeleteTimeLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITidsrapporteringService/DeleteTimeLineResponse" message="tns:ITidsrapporteringService_DeleteTimeLine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITidsrapporteringService" type="tns:ITidsrapporteringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewTimeLine">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/InsertNewTimeLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastInsertedDay">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetLastInsertedDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastTimeLineInsertedForSpecificDate">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetLastTimeLineInsertedForSpecificDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInsertedTimeLineOnOneDay">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllInsertedTimeLineOnOneDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeLineByAgrNo">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetTimeLineByAgrNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInsertedDaysOfAMonth">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllInsertedDaysOfAMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsByActivity">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllProductsByActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCust">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllCust" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustNr">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetCustNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrdNr">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllOrdNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceByOrderNr">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllServiceByOrderNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesByDebit">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetActivitiesByDebit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthFlexForLogOnUser">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetMonthFlexForLogOnUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalFlexForLogOnUser">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetTotalFlexForLogOnUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHolidayForLogOnUser">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/GetHolidayForLogOnUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeLine">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/UpdateTimeLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeLine">
      <soap:operation soapAction="http://tempuri.org/ITidsrapporteringService/DeleteTimeLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TidsrapporteringService">
    <wsdl:port name="BasicHttpBinding_ITidsrapporteringService" binding="tns:BasicHttpBinding_ITidsrapporteringService">
      <soap:address location="http://localhost:3716/TidsrapporteringIISHost/TidsrapportService.svc/TidsrapporteringService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>